<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniuxy.mybatis.entity.UserMapper">
	<!-- 配置resultMap -->
	<resultMap type="user" id="userMapping">
		<!-- 设置主键列 -->
		<id property="id" column="id" />
		<!-- 设置普通列，property -->
		<result property="userName" column="user_name" />
	</resultMap>
	<!-- 插入用户数据的sql语句 -->
	<insert id="save" parameterType="user">
		<!-- 绑定id值 -->
		<selectKey order="AFTER" keyProperty="id" resultType="int">
			select
			last_insert_id()
		</selectKey>
		insert into t_user
		(user_name,cnname,sex,mobile,email,note)
		values(#{user_name},#{cnname},#{sex},#{mobile},#{email},#{note})
	</insert>
	<!-- 根据用户id查询用户信息 -->
	<select id="findInfoById" parameterType="int" resultMap="userMapping">
		select
		* from t_user where id=${value}
	</select>
	<!-- 根据用户名查询用户信息 -->
	<select id="findInfoByName" parameterType="string" resultType="user">
		select * from t_user where cnname like '${value}'
	</select>
	<!-- 根据用户id删除用户信息 -->
	<delete id="delete" parameterType="int">
		delete from t_user
		where
		id=#{value}
	</delete>
	<!-- 更新用户信息根据用户id -->
	<update id="update" parameterType="user">
		update t_user set
		user_name=#{user_name} where id=#{id}
	</update>
</mapper>